<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headMeta">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="author" content="oscar" th:content="#{app.author}"/>
    <meta name="description" content="Project Name" th:content="#{app.description}"/>
    <title th:text="#{app.title}">Head Tag Page</title>
    <link rel="shortcut icon" type="image/png" href="../../../resources/images/favicon.png"
          th:href="@{/resources/images/favicon.png}"/>

    <!-- CSS definitions -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" media="all"
          href="../../../resources/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/resources/bootstrap/dist/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" media="all"
          href="../../../resources/metisMenu/dist/metisMenu.min.css"
          th:href="@{/resources/metisMenu/dist/metisMenu.min.css}"/>

    <!-- Timeline CSS -->
    <link href="../../../resources/dist/css/timeline.css" rel="stylesheet"
          th:href="@{/resources/dist/css/timeline.css}"/>

    <!-- Custom CSS -->
    <link href="../../../resources/dist/css/sb-admin-2.css" rel="stylesheet"
          th:href="@{/resources/dist/css/sb-admin-2.css}"/>

    <!-- Morris Charts CSS -->
    <link href="../../../resources/morrisjs/morris.css" rel="stylesheet"
          th:href="@{/resources/morrisjs/morris.css}"/>

    <!-- Custom Fonts -->
    <link href="../../../resources/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css"/>

    <!-- Oscar Custom Style -->
    <link rel="stylesheet" media="all"
          href="../../../resources/css/oscar-style.css"
          th:href="@{/resources/css/oscar-style.css}"/>

    <!-- JavaScript definitions -->
    <!-- jQuery -->
    <script src="../../../resources/jquery/dist/jquery.min.js"
            th:src="@{/resources/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/bootstrap/dist/js/bootstrap.min.js"
            th:src="@{/resources/bootstrap/dist/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../resources/metisMenu/dist/metisMenu.min.js"
            th:src="@{/resources/metisMenu/dist/metisMenu.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../../resources/raphael/raphael-min.js"
            th:src="@{/resources/raphael/raphael-min.js}"></script>
    <script src="../../../resources/morrisjs/morris.min.js"
            th:src="@{/resources/morrisjs/morris.min.js}"></script>
    <script src="../../../resources/js/morris-data.js"
            th:src="@{/resources/js/morris-data.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../../resources/js/sb-admin-2.js"
            th:src="@{/resources/js/sb-admin-2.js}"></script>

</head>
<body>
</body>
</html>