<!DOCTYPE html>
<html lang="en">
<head th:fragment="template1">
    <link rel="stylesheet" th:href="@{/resources/jquery-ui-Redmond/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/jquery-ui-Redmond/jquery-ui.theme.min.css}"/>

    <!-- DTS Style -->
    <link rel="stylesheet" media="all" th:href="@{/resources/css/dts-style.css}"/>

    <script type="text/javascript" th:src="@{/resources/jquery-ui-Redmond/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/template.js}"></script>
</head>
<body>
</body>
</html>