<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AccountDaoSuite" parallel="tests" thread-count="2" verbose="1">
    <test name="accountDao">
        <groups>
            <run>
                <exclude name="accountService"/>
                <exclude name="accountController"/>
            </run>
        </groups>
        <packages>
            <package name="tw.com.oscar.spring.test.account"/>
        </packages>
    </test>
</suite>